@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
  --bg-background-primary: #ffffff;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}

.theme-light .search-highlighted {
  background: #f0fff4;
}

.theme-light .search-hover:hover {
  background: #f0fff4;
}

.theme-dark .markdown-body {
  color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary: #1a202c;
}

.theme-dark .markdown-body {
  color: #cbd5e0;
}

.content-wrapper {
  transition: background-color .25s;
}

a {
  @apply text-purple-700 font-bold;
}


a:hover {
  @apply text-purple-800;
}

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.checkmark {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='29' height='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.427 24.93A14.5 14.5 0 1 1 24.93 4.427c5.495 5.69 5.416 14.733-.177 20.326s-14.637 5.672-20.326.177z' fill='%236b46c1'/%3E%3Cpath fill='%23FFF' d='M10.234 12.803l3.67 3.253L20.766 10 23 12l-9.096 8L8 14.789l2.234-2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.blur {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.light-text {
  text-decoration: none;
  color: var(--textNormal);
  background: -webkit-gradient(linear, left top, right top, from(#667eea), color-stop(50%, #ba8fff), to(#764ba2));
  background: linear-gradient(90deg, #667eea 0, #ba8fff 50%, #764ba2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-text {
  text-decoration: none;
  color: var(--textNormal);
  background: -webkit-gradient(linear, left top, right top, from(#667eea), color-stop(50%, #ba8fff), to(#764ba2));
  background: linear-gradient(90deg, #667eea 0, #ba8fff 50%, #764ba2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neumorph {
  border: 1px solid rgb(169, 163, 255);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.slidein-enter-active {
  animation: slidein 0.2s;
}

.slidein-leave-active {
  animation: slidein 0.2s reverse;
}

@keyframes slidein {
  from {
    left: -100%;
    width: 0%;
  }

  to {
    left: 0;
    width: 80vw;
  }
}

.fadein-enter-active {
  animation: fadein 0.2s;
}

.fadein-leave-active {
  animation: fadein 0.2s reverse;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.1;
  }
}